img {
  width: 100%;
}

.cover_image {
  background-image: url("../images/galaxy.jpg");
  background-size: cover;
}

.cover_image .jumbotron {
  background-color: transparent;
  text-shadow: 1px 1px 10px #9025a2;
  color: #ddb8e9;
  font-family: "Russo One", sans-serif;
  margin-bottom: 0;
}

blockquote {
  color: white;
  text-shadow: 1px 1px 10px #9025a2;
  border: none;
  padding-top: 0;
}

blockquote footer {
  color: white;
}

.page_desc {
  color: white;
  text-shadow: 1px 1px 10px #9025a2;
}

.buttons_group button {
  width: 120px;
  color: rgba(255, 255, 255, 0.71);
  border-radius: 10px;
  background-color: #BE2D3C;
  border-style: solid;
  margin: 10px 20px 10px 20px;
}

button:hover {
  box-shadow: 0 0 50px rgba(129, 255, 247, 0.8);
  transition: box-shadow 0.3s;
  color: white;
}

.cover_image .flex_box {
  background-color: black;
  background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.flex_box {
  margin-top: 20px;
  display: flex;
  height: 500px;
  border: 10px ridge #ddb8e9;
  box-shadow: 0 0 50px white;
}

.flex_box .flex_left, .flex_box .flex_middle, .flex_box .flex_right {
  flex: 1;
}

.footer_area {
  height: 200px;
}
