img {
  width: 100%;
}

.cover_image {
  background-image: url("../images/galaxy.jpg");
  background-size: cover;
}

.cover_image .jumbotron {
  background-color: transparent;
  text-shadow: 1px 1px 10px #9025a2;
  color: #ddb8e9;
  font-family: "Russo One", sans-serif;
  margin-bottom: 0;
}

blockquote {
  color: white;
  text-shadow: 1px 1px 10px #9025a2;
  border: none;
  padding-top: 0;
}

blockquote footer {
  color: white;
}

.page_desc {
  color: white;
  text-shadow: 1px 1px 10px #9025a2;
}

.buttons_group button {
  width: 120px;
  color: rgba(255, 255, 255, 0.71);
  border-radius: 10px;
  background-color: #BE2D3C;
  border-style: solid;
  margin: 10px 20px 10px 20px;
}

button:hover {
  box-shadow: 0 0 50px rgba(129, 255, 247, 0.8);
  transition: box-shadow 0.3s;
  color: white;
}

.cover_image .display_box {
  background-color: black;
  background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.display_box {
  margin-top: 20px;
  height: 500px;
  border: 10px ridge #ddb8e9;
  box-shadow: 0 0 50px white;
  padding: 1px;
}

.display_box .box_bounce1, .display_box .box_bounce2, .display_box .box_bounce3, .display_box .box_bounce4, .display_box .box_bounce5, .display_box .box_bounce6, .display_box .box_bounce7, .display_box .box_bounce8, .display_box .box_bounce9 {
  width: 100%;
  height: 50px;
  margin: 3px;
}

.display_box .box_bounce1 {
  background-color: #e6d9ea;
}

.display_box .box_bounce2 {
  background-color: #d9c6e0;
}

.display_box .box_bounce3 {
  background-color: #cdb4d5;
}

.display_box .box_bounce4 {
  background-color: #c0a1cb;
}

.display_box .box_bounce5 {
  background-color: #b48ec1;
}

.display_box .box_bounce6 {
  background-color: #a77cb6;
}

.display_box .box_bounce7 {
  background-color: #9b69ac;
}

.display_box .box_bounce8 {
  background-color: #8e56a2;
}

.display_box .box_bounce9 {
  background-color: #824498;
}

.footer_area {
  height: 200px;
}

.burning {
  color: white;
  /* A light text makes a nice bright flame source */
  letter-spacing: 10px;
  /* Big text shows off the effect best */
  font-weight: bold;
  font-family: "Trade Winds", cursive;
  font-size: 50px;
  line-height: 60px;
  padding-top: 80px;
}

.earth {
  padding-top: 120px;
  padding-left: 50px;
}

.game {
  width: 300px;
  height: 400px;
}

@media screen and (min-width: 700px) {
  .earth {
    padding-top: 120px;
    padding-left: 275px;
  }
  .game {
    margin-left: 220px;
  }
}

@media screen and (min-width: 1000px) {
  .earth {
    padding-top: 120px;
    padding-left: 450px;
  }
  .game {
    margin-left: 420px;
  }
}
